/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/Untitled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
  header {
    color: black;
    margin: 1cm;
    border: 0cm;
    padding: 1cm;
    background-color: white;
  }
  .list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    font-size: larger;
    list-style: none;
    height: 1cm;
  }
  section {
    color: white;
    font-weight: 300;
    font-style: oblique;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
  }
}
.index {
  border: 0cm;
  margin: 0cm;
  padding: 1cm;
}
.contain {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;
  display: block;
  margin: 40px auto;
}
#int {
  margin: cm;
  border: 1cm red;
  padding: cm;
}
.cnt {
  width: 800px;
  height: 400px;
}
.ytn {
  color: green;
  background-color: black;
  border-radius: 3cm;
  border: 3cm;
}
#r {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: 1cm;
  margin: cm;
}
#t {
  margin: cm;
  border: 1cm;
}
#y {
  display: flex;
  width: 1000px;
  height: 400px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
}
#v {
  display: flex;
  width: 800px;
  height: 400px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
}
#io {
  display: flex;
  width: 800px;
  height: 400px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 10px;
}
.one {
  color: black;
  text-align: center;
  font-size: x-large;
  font-style: oblique;
  border: 10px;
  padding: 1cm;
  background-color: silver;
}
#white {
  background-color: white;
  padding: 1cm;
}
.ytr {
  color: white;
  border: 0cm;
  margin: 0cm;
  padding: 1cm;
  font-style: oblique;
  font-size: larger;
}
#contact {
  color: blue;
  display: table;
  border: 0cm;
  padding: 1cm;
  margin: 0cm;
  float: right;
}
